@model LittleLibrary.Models.Users

@{
    ViewData["Title"] = "Checkout";
}

<h2>Checkout</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Checkout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3>This email address will be used for billing confirmation.</h3>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<a asp-controller="Payment" asp-action="Index">Proceed To Checkout</a>

