@model LittleLibrary.Models.UsersBooks

<br />
<br />

<h2>Deleted Successfully</h2>

<br />

<a asp-controller="Home" asp-action="Index">Back to Homepage</a> | <a asp-action="MyWishList">Back to Wishlist</a>